swagger: "2.0"
info:
  description: ""
  version: "1.1.3"
  title: "Slate creation from external event Bot"
host: "bots.airslate.com"
basePath: "/slate-creation-from-event-bot/"
tags:
  - name: "Documents"
    description: "View flow documents structure"
  - name: "Create-slate"
    description: "Manage slate creation requests"
schemes:
  - "https"
paths:
  /documents:
    get:
      tags:
        - "Documents"
      summary: "View flow documents"
      description: ""
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        "200":
          description: "Invalid ID supplied"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/document"
      security:
        - token: []
  /create-slate:
    get:
      tags:
        - "Create-slate"
      summary: "Get flow documents and fields informotion"
      description: ""
      produces:
        - "application/json"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/slate-creation-request-data"
        "400":
          description: "Entity id is incorrect"
      security:
        - token: []
    post:
      tags:
        - "Create-slate"
      summary: "Get flow documents and fields informotion"
      description: ""
      produces:
        - "application/json"
      consumes:
        - "application/json"
      parameters:
        - in: "body"
          name: "body"
          description: "Add new subscription"
          required: true
          schema:
            $ref: "#/definitions/slate-creation-request-body"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/slate-creation-request"
        "400":
          description: "Entity id is incorrect"
      security:
        - token: []
  /create-slate/{requestId}:
    get:
      tags:
        - "Create-slate"
      summary: "View create slate request"
      description: ""
      produces:
        - "application/json"
      parameters:
        - name: "requestId"
          in: "path"
          description: "Create slate request id"
          required: true
          type: "string"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/slate-creation-request"
      security:
        - token: []
securityDefinitions:
  token:
    type: "apiKey"
    in: "header"
    name: "Authorization"
definitions:
  document:
    type: "object"
    properties:
      data:
        type: "object"
        properties:
          type:
            type: "string"
            enum:
              - "documents"
          id:
            type: "string"
            example: "00000000-0000-0000-00000000"
          attributes:
            type: "object"
            properties:
              name:
                type: string
                example: document.pdf
              status:
                type: string
                enum: ['DRAFT', 'FINISHED']
                example: DRAFT
              type:
                type: string
                enum: [PDF, DOC_CREATOR, HTM, PAYMENT_FORM, HTML_FORMS, AUTH_FORM, ATTACHMENT_FORM, DOC_GENERATION]
              editor_type:
                type: string
                enum: [PDF, DOC_CREATOR, PAYMENT_FORM, HTML_FORMS, AUTH_FOR, ATTACHMENT_FORM, DOC_GENERATION, null]
              version:
                type: integer
                example: 1
              is_filled:
                type: boolean
                example: true
              is_hidden:
                type: boolean
                example: false
              content_version:
                type: integer
                example: 1
              processing_status:
                type: string
                enum: [NEW, PROGRESS, COMPLETED, FAILED, DELETED, WAIT_PDF, PROTECTED]
              properties:
                type: array
                example: []
          included:
            type: array
            items:
              $ref: "#/definitions/document-field"
  document-field:
    type: "object"
    properties:
      data:
        type: "object"
        properties:
          type:
            type: "string"
            enum:
              - "dictionary"
          id:
            type: "string"
            example: "00000000-0000-0000-00000000"
          attributes:
            type: "object"
            properties:
              name:
                type: string
                example: document.pdf
              field_type:
                type: string
                enum: [text, number, date, signature]
                example: text
              value:
                type: string
                example: null
              dropdown_options:
                type: string
                example: null
              radio_buttons_group:
                type: string
                example: null
              format:
                type: string
                example: "MM/dd/yyyy"
              editors_config_enabled:
                type: boolean
                example: false
              role_label:
                type: string
                example: null
              roleable:
                type: boolean
                example: true
              hidden:
                type: boolean
                example: false
              required:
                type: boolean
                example: false
              number_value:
                type: number
                example: true
              triggers:
                type: string
                example: null
              comparable:
                type: boolean
                example: false
              timestamp_value:
                type: integer
                example: 000000000
              restrict_sub_types:
                type: string
                example: null
              single_use:
                type: boolean
                example: false
              readonly:
                type: boolean
                example: false
              data_writing_allowed:
                type: boolean
                example: true
              group:
                type: string
                example: null
  slate-creation-request-data:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          type: "object"
          properties:
            type:
              type: "string"
              enum:
                - "documents"
            id:
              type: "string"
              example: "00000000-0000-0000-00000000"
            relationships:
              type: "object"
              properties:
                fields:
                  type: "object"
                  properties:
                    data:
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          type:
                            type: "string"
                            enum:
                              - "dictionary"
                          id:
                            type: "string"
                            example: "00000000-0000-0000-00000000-001"

      included:
        type: "array"
        items:
          type: "object"
          properties:
            type:
              type: "string"
              enum:
                - "dictionary"
            id:
              type: "string"
              example: "00000000-0000-0000-00000000-001"
            attributes:
              type: "object"
              properties:
                field_type:
                  type: "string"
                  example: "text"
                name:
                  type: "string"
                  example: "field name"
                value:
                  type: "string"
                  example: ""

  slate-creation-request-body:
    type: "object"
    properties:
      data:
        type: "object"
        properties:
          type:
            type: "string"
            enum:
              - "slate_creation_requests"
          id:
            type: "string"
            example: "00000000-0000-0000-00000000"
          attributes:
            type: "object"
            properties:
              callback_url:
                type: "string"
                example: "http://callback_url"
              is_completed:
                type: "boolean"
                example: false
              message:
                type: "string"
                example: null
      meta:
        type: "object"
        properties:
          fields:
            type: "array"
            items:
              $ref: "#/definitions/field"
  slate-creation-request:
    type: "object"
    properties:
      data:
        type: "object"
        properties:
          type:
            type: "string"
            enum:
              - "slate_creation_requests"
          id:
            type: "string"
            example: "00000000-0000-0000-00000000"
          attributes:
            type: "object"
            properties:
              callback_url:
                type: "string"
                example: "http://callback_url"
              is_completed:
                type: "boolean"
                example: false
              message:
                type: "string"
                example: null
  field:
    type: "object"
    properties:
      id:
        type: "string"
        enum:
          - "slate_creation_requests"
      name:
        type: "string"
        example: "field name"
      value:
        type: "string"
        example: "field value"
